/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

/* theme-light */
:root.theme-light {
  --font-variation-settings: 400;
  --title-variation-settings: 700;
  --accent-color: #000000;
  --text-color: #000000;
  --bg-color: #ffffff;
  --color-backdrop: red;
  --button-bg: #000000;
  --border-color: #000000;
  --like-text: #2e2e2e;
  --heart-dark: #ff0000;
  --heart-light: #ffffff;
  --heart-color: #000000;
  --dark-code: rgba(255, 255, 255, 0.5);
  --main-code: rgba(255, 255, 255, 0.5);
  --main-gradient: linear-gradient(#e7e7e7, #1a1a1a);
  --gradient: repeating-linear-gradient(
      #cdcdcd,
      #cdcdcd 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #cdcdcd,
      #cdcdcd 2px,
      transparent 2px,
      transparent 4px
    );
}

/* theme-dark */
:root.theme_dark {
  --font-variation-settings: 465;
  --title-variation-settings: 785;
  --accent-color: #00cc14;
  --text-color: #00cc14;
  --bg-color: #000000;
  --color-backdrop: red;
  --button-bg: #000000;
  --border-color: #00cc14;
  --like-text: #002504;
  --heart-dark: #000000;
  --heart-light: #ffffff;
  --heart-color: #00cc14;
  --heart-active: #ff0000;
  --dark-code: rgba(0, 204, 20, 0.5);
  --main-code: rgba(255, 255, 255, 0.5);
  --main-gradient: linear-gradient(#007f0c, #004306);
  --gradient: repeating-linear-gradient(
      #000000,
      #000000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #000000,
      #000000 2px,
      transparent 2px,
      transparent 4px
    );
}

/* prefers-color-scheme: dark */
@media (prefers-color-scheme: dark) {
  :root {
    --font-variation-settings: 465;
    --title-variation-settings: 785;
    --accent-color: #00cc14;
    --text-color: #00cc14;
    --bg-color: #000000;
    --color-backdrop: red;
    --button-bg: #000000;
    --border-color: #00cc14;
    --like-text: #002504;
    --heart-dark: #000000;
    --heart-light: #ffffff;
    --heart-color: #00cc14;
    --heart-active: #ff0000;
    --dark-code: rgba(0, 204, 20, 0.5);
    --main-code: rgba(255, 255, 255, 0.5);
    --main-gradient: linear-gradient(#007f0c, #004306);
    --gradient: repeating-linear-gradient(
        #000000,
        #000000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        90deg,
        #000000,
        #000000 2px,
        transparent 2px,
        transparent 4px
      );
  }
}

/* prefers-color-scheme: light */
@media (prefers-color-scheme: light) {
  :root {
    --font-variation-settings: 400;
    --title-variation-settings: 700;
    --accent-color: #000000;
    --text-color: #000000;
    --bg-color: #ffffff;
    --color-backdrop: red;
    --button-bg: #000000;
    --border-color: #000000;
    --like-text: #2e2e2e;
    --heart-dark: #ff0000;
    --heart-light: #ffffff;
    --heart-color: #000000;
    --dark-code: rgba(255, 255, 255, 0.5);
    --main-code: rgba(255, 255, 255, 0.5);
    --main-gradient: linear-gradient(#e7e7e7, #1a1a1a);
    --gradient: repeating-linear-gradient(
        #cdcdcd,
        #cdcdcd 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        90deg,
        #cdcdcd,
        #cdcdcd 2px,
        transparent 2px,
        transparent 4px
      );
  }
}
