/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: "Inter-Variable", sans-serif;
  --second-family: "PressStart2P", system-ui;
  --font-variation-settings: 400;
  --title-variation-settings: 700;
  --accent-color: #000000;
  --text-color: #000000;
  --bg-color: #ffffff;
  --color-backdrop: red;
  --card-button-color: #ffffff;
  --button-bg: #000000;
  --border-color: #000000;
  --like-text: #2e2e2e;
  --heart-dark: #ff0000;
  --heart-light: #ffffff;
  --heart-color: #000000;
  --font-weight: 400;
  --dark-code: rgba(255, 255, 255, 0.5);
  --main-code: rgba(255, 255, 255, 0.5);
  --main-gradient: linear-gradient(#e7e7e7, #1a1a1a);
  --gradient: repeating-linear-gradient(
      #cdcdcd,
      #cdcdcd 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #cdcdcd,
      #cdcdcd 2px,
      transparent 2px,
      transparent 4px
    );
}
